<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <define name="pluginLogDir" class="com.alltheducks.logging.logback.BbPluginLogDirPropertyDefiner">
        <vendorId>${vendorId}</vendorId>
        <handle>${b2Handle}</handle>
    </define>

    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${r"${pluginLogDir}"}/${vendorId}-${b2Handle}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${r"${pluginLogDir}"}/${vendorId}-${b2Handle}.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <!-- This pattern ensures logging will work in Learn SaaS -->
            <pattern>%date{yyyy-MM-dd HH:mm:ss} | %-5level | %-45(%L:%logger{40}) | %m%n%ex</pattern>
        </encoder>
    </appender>
    <logger name="${basePackage}" level="DEBUG"/>
    <root level="WARN">
        <appender-ref ref="default"/>
    </root>
</configuration>